asgiref==3.9.1
Django==4.1.13
djongo==1.7.3
dnspython==2.8.0
pillow==11.3.0
pymongo==4.6.0
python-dotenv==1.0.0
pytz==2025.2
setuptools==80.9.0
sqlparse==0.2.4
tzdata==2025.2
wheel==0.45.1

# Formularis i validació extra
django-widget-tweaks==1.5.4

django-bootstrap5==23.1
